@{
    ViewBag.Title = "Index";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div>
        @using (Html.BeginForm("Index", "Lists", FormMethod.Post))
        {
            <input type="submit" value="Получить" />
        }
    </div>

