@{
    ViewBag.Title = "Send";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MvcTestTask.Models.Api.ApiResponse

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

Идентификатор рассылки <h3>@Model.Data</h3>
